/*#fixmenu{
        width: 1122px;
        height:30px;
        margin-left:-48px;
        padding:5px 48px;
        position:fixed;
        top:0;
        background:#7eb7d9;
        display:none;
}
        
.menu-fixed{
        width: 260px;
        float: right;
        text-align: right;
        padding:4px 0 5px 0;
        list-style-type:none;
}

.menu-fixed li{ display:inline; }

.menu-fixed a{
        font-size:0.9em;
        color:#fff; 
        text-shadow:1px 1px #5E8BC5;
        padding:0 0 0 10px;
}*/